[submodule "amplify"]
	path = amplify
	url = https://alisaida@github.com/alisaida/whatsapp-clone-aws-backend.git
[submodule "gql"]
	path = gql
	url = https://alisaida@github.com/alisaida/whatsapp-clone-graphql.git
